# Input Configuration for running benchmarking metrics

tf_record_input_reader {

    input_path: "/media/ssd1/sat_data_inferences/mask_rcnn/large/detections.tfrecord"

    # Can add multiple input_path arguments
    # input_path: "/path/to/another/model/inference.record"

  }
label_map_path: "/media/ssd1/sat_data/satellite.pbtxt"
